@model AccountDetailsDto

@{
    ViewBag.Title = @Model.PageTitle;
}

<h1>Transactions</h1>

<div>
    <a asp-controller="Transaction" asp-action="Add" asp-route-accountId="@Model.Account.Id" class="btn btn-outline-primary" type="button">
        Add Transaction
    </a>
</div>

<div>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active">
                All Transactions
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                Last month
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                Last week
            </a>
        </li>
        
    </ul>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var transaction in Model.Account.Transactions)
        {
            <tr>
                <td>@transaction.Name</td>
                <td>&euro; @transaction.Amount</td>
                <td>
                    <a asp-controller="Transaction" asp-action="Details" asp-route-id="@transaction.Id">Details</a>
                    | <a asp-controller="Transaction" asp-action="Edit" asp-route-id="@transaction.Id">Edit</a>
                    | Delete
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}