@model IEnumerable<Account>

@{
    ViewBag.Title = "Accounts Overview";
}

<h1>@ViewBag.Title</h1>

<div class="btn-group my-4">
    <a asp-controller="Account" asp-action="Create" class="btn btn-outline-primary" type="button">
        Create Account
    </a>
</div>

<hr/>

<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Account Name</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Name</td>
                <td>€ @account.Balance</td>
                <td>
                    <a asp-controller="Account" asp-action="Details" asp-route-id="@account.Id" asp-route-sort="all">Details</a>
                    | <a asp-controller="Account" asp-action="Edit" asp-route-id="@account.Id">Edit</a>
                    | <a asp-controller="Account" asp-action="Delete" asp-route-id="@account.Id">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>